@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import './assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}
/* para los botones del swiper*/
.custom-swiper .swiper-pagination-bullet {
  background-color: #ccc;
  width: 12px;
  height: 12px;
  opacity: 1;
  margin: 0 6px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #ea8028; /* Tailwind blue-700 */
  width: 20px;
  height: 12px;
  border-radius: 10px;
}